fastapi[standard]
hypercorn[h3]
python-jose[cryptography]
tortoise-orm[asyncpg] 
aerich 
argon2-cffi 
python-dotenv
uvloop; platform_system != "Windows"
winloop; platform_system != "Linux"
ulid
pytest
pytest-asyncio
pytest-cov
pytest-mock
pre-commit